<h1>Software by Language</h1>
<a href="/pages/agda.html">Agda</a><br>
<a href="/pages/apl.html">APL</a><br>
<a href="/pages/ats.html">ATS</a><br>
<a href="/pages/bqn.html">BQN</a><br>
<a href="/pages/clojure.html">Clojure</a><br>
<a href="/pages/coalton.html">Coalton</a><br>
<a href="/pages/common-lisp.html">Common Lisp</a><br>
<a href="/pages/coq.html">Coq</a><br>
<a href="/pages/curry.html">Curry</a><br>
<a href="/pages/elm.html">Elm</a><br>
<a href="/pages/erlang.html">Erlang</a><br>
<a href="/pages/fsharp.html">F#</a><br>
<a href="/pages/haskell.html">Haskell</a><br>
<a href="/pages/idris.html">Idris</a><br>
<a href="/pages/lean.html">Lean</a><br>
<a href="/pages/mercury.html">Mercury</a><br>
<a href="/pages/ocaml.html">OCaml</a><br>
<a href="/pages/purescript.html">PureScript</a><br>
<a href="/pages/racket.html">Racket</a><br>
<a href="/pages/scheme.html">Scheme</a><br>
<hr>
<a href="/index.html">Home</a><br>